body {
  margin: 0;
  font-family: Gilroy, 'Noto Sans TC', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

@font-face {
  font-family: Gilroy;
  src: local('Gilroy-ExtraBold'), url('./fonts/Gilroy/Gilroy-ExtraBold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: local('Gilroy-Light'), url('./fonts/Gilroy/Gilroy-Light.otf') format('truetype');
  font-weight: regular;
}
